<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymize Text</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
</head>
<body>
    <div class="container col-12 col-md-8 col-lg-6 col-xl-5">
        <h1>Text Anonymization Tool</h1>
        <form action="/anonymize" method="post">
            <textarea name="text" rows="4" cols="50" placeholder="Enter text here..." class="text-box"></textarea>
            <br>

            <label for="prompt">Prompt</label>
            <textarea id="prompt" name="prompt" rows="6" cols="50" class="text-box">
            Write a short university(2 short paragraphs)  academic probation letter and only use the following personal data enclosed in <> such as <PERSON> 
            </textarea>
            <br>

            <!-- <input type="submit" value="Anonymize" class="submit-button"> -->
            <button class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>